
* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}

@keyframes my_effect{ /*shake effect*/
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 34px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation: my_effect 0.7s;
}


.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}